.icons {
  display: inline-block;
  background-image: url(../../images/task9/icons.png);
}
.icons.icon-logo {
  width: 36px;
  height: 36px;
  background-position: 0 0;
}
.icons.icon-search {
  width: 18px;
  height: 19px;
  background-position: 0 -36px;
}
.icons.icon-login {
  width: 18px;
  height: 19px;
  background-position: -18px -36px;
}
.icons.icon-cur-folder-top {
  width: 12px;
  height: 12px;
  background-position: 0 -55px;
}
.icons.icon-cur-folder {
  width: 12px;
  height: 12px;
  background-position: -12px -55px;
}
.icons.icon-cur-file {
  width: 12px;
  height: 12px;
  background-position: -24px -55px;
}
.icons.icon-cur-down {
  width: 12px;
  height: 12px;
  background-position: -36px -55px;
}
.icons.icon-folder {
  width: 12px;
  height: 12px;
  background-position: -12px -67px;
}
.icons.icon-file {
  width: 12px;
  height: 12px;
  background-position: -24px -67px;
}
.icons.icon-right {
  width: 12px;
  height: 12px;
  background-position: -48px -67px;
}
.icons.icon-star {
  width: 12px;
  height: 12px;
  background-position: -60px -67px;
}
.icons.icon-share {
  width: 12px;
  height: 12px;
  background-position: -72px -67px;
}
.icons.icon-info {
  width: 12px;
  height: 12px;
  background-position: -84px -67px;
}
.icons.icon-date {
  width: 32px;
  height: 32px;
  background-position: 0 -79px;
}
.icons.icon-exchange {
  width: 27px;
  height: 37px;
  background-position: 0 -111px;
}
.icons.icon-arrow-left {
  width: 10px;
  height: 17px;
  background-position: 0 -153px;
}
.icons.icon-arrow-right {
  width: 10px;
  height: 17px;
  background-position: -10px -153px;
}
.font16 {
  font-size: 16px;
  line-height: 16px;
}
.font12 {
  font-size: 12px;
  line-height: 12px;
}
.select-con {
  display: inline-block;
  position: relative;
}
.select-con select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  padding: 2px 25px 2px 10px;
  outline: none;
  color: #323333;
}
.select-con:after {
  position: absolute;
  top: 12px;
  right: 10px;
  content: "";
  display: block;
  width: 9px;
  height: 5px;
}
.select-con.select-blue:after {
  background: url(../../images/task9/select-blue.png);
  background-size: cover;
}
.select-con.select-black:after {
  background: url(../../images/task9/select-black.png);
  background-size: cover;
}
.select-con.select-date:after {
  background: url(../../images/task9/select-date.png);
  background-size: cover;
}
input.form-control {
  outline: none;
  border: solid 1px #dddede;
  height: 26px;
  line-height: 26px;
  padding: 2px 10px;
  font-size: 12px;
}
body {
  background-color: #eeeeed;
}
header {
  width: 100%;
  height: 55px;
  padding: 0 94px 0 50px;
  background-color: #2189bf;
  color: #fff;
  overflow: hidden;
}
header .icon-logo {
  float: left;
  margin: 10px 0 0 0;
}
header .right {
  float: right;
  height: 55px;
  overflow: hidden;
}
header .right .input-group {
  float: left;
  position: relative;
  margin: 14px 20px 0 0;
}
header .right .input-group input {
  display: block;
  width: 310px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px 0 40px;
  border: 0;
  border-radius: 30px;
  outline: none;
  background-color: #fff;
}
header .right .input-group i {
  position: absolute;
  top: 6px;
  left: 17px;
}
header .right .login-con {
  float: right;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
}
header .right .login-con .icon-login,
header .right .login-con span {
  vertical-align: middle;
}
header .right .login-con .icon-login {
  margin: 0 5px 0 0;
}
header .right .login-con span {
  font-size: 12px;
}
.main {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 1280px;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  height: 100%;
  background-color: #2a2e3d;
  overflow: hidden;
}
.sidebar .head-info {
  overflow: hidden;
  margin: 18px 0 24px 0;
}
.sidebar .head-info .head-con {
  float: left;
  overflow: hidden;
  margin: 0 0 0 44px;
  padding: 3px;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: solid 1px #b9babe;
}
.sidebar .head-info .head-con .head {
  width: 100%;
  height: 100%;
  border-radius: 56px;
  background-color: #b9babe;
}
.sidebar .head-info .name {
  float: right;
  margin: 0 90px 0 0;
  height: 58px;
  line-height: 58px;
  color: #f6f5f5;
  font-size: 16px;
}
.sidebar .star-info {
  margin: 0 0 22px 0;
  color: #6e8095;
  overflow: hidden;
  text-align: center;
}
.sidebar .star-info .star {
  float: left;
  margin: 0 0 0 60px;
}
.sidebar .star-info .hr {
  float: left;
  margin: 0 30px;
  width: 2px;
  height: 30px;
  background-color: #313545;
}
.sidebar .star-info .fans {
  float: left;
}
.sidebar .tree-1 {
  height: 16px;
  font-size: 12px;
  margin: 18px 0;
  padding: 0 0 0 70px;
  color: #6e8095;
}
.sidebar .tree-1 i,
.sidebar .tree-1 span {
  vertical-align: middle;
  margin: 0 5px;
}
.sidebar .tree-1 .cur {
  color: #fff;
}
.sidebar .act .tree-1 {
  height: 16px;
  font-size: 12px;
  margin: 10px 0;
  padding: 0 0 0 70px;
}
.sidebar .act .tree-1 i,
.sidebar .act .tree-1 span {
  vertical-align: middle;
}
.sidebar .tree-2 {
  height: 16px;
  font-size: 12px;
  margin: 18px 0;
  padding: 0 0 0 100px;
  color: #6e8095;
}
.sidebar .tree-2 i,
.sidebar .tree-2 span {
  vertical-align: middle;
  margin: 0 5px;
}
.sidebar .tree-2 .cur {
  color: #fff;
}
.sidebar .act .tree-2 {
  height: 16px;
  font-size: 12px;
  margin: 10px 0;
  padding: 0 0 0 100px;
}
.sidebar .act .tree-2 i,
.sidebar .act .tree-2 span {
  vertical-align: middle;
}
.sidebar .tree-3 {
  height: 16px;
  font-size: 12px;
  margin: 18px 0;
  padding: 0 0 0 130px;
  color: #6e8095;
}
.sidebar .tree-3 i,
.sidebar .tree-3 span {
  vertical-align: middle;
  margin: 0 5px;
}
.sidebar .tree-3 .cur {
  color: #fff;
}
.sidebar .act .tree-3 {
  height: 16px;
  font-size: 12px;
  margin: 10px 0;
  padding: 0 0 0 130px;
}
.sidebar .act .tree-3 i,
.sidebar .act .tree-3 span {
  vertical-align: middle;
}
.sidebar .act {
  background-color: #383d4e;
  overflow: hidden;
}
.container {
  width: 1020px;
  float: right;
}
.container .nav {
  background-color: #fff;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 30px;
  color: #aaa;
}
.container .nav a {
  color: #6898c2;
}
.container .main-right {
  padding: 20px 70px 20px 60px;
}
.container .main-right .filter {
  background-color: #fff;
  border: solid 1px #e5e6e6;
  padding: 15px 0;
  overflow: hidden;
}
.container .main-right .filter .item {
  margin: 0 0 0 30px;
  float: left;
}
.container .main-right .filter .item span {
  display: inline-block;
  margin: 0 10px 0 0;
  color: #aaa;
}
.container .main-right .filter .item .person {
  float: left;
}
.container .main-right .filter .item .person div:first-child {
  margin: 0 0 5px 0;
}
.container .main-right .filter .item .icon-exchange {
  float: left;
  cursor: pointer;
  margin: 10px 0 0 5px;
}
.container .main-right .filter .item .btn {
  display: block;
  color: #fff;
  width: 50px;
  height: 26px;
  line-height: 26px;
  background-color: #388ac1;
  text-align: center;
  margin: 20px 0 0 0;
  border-radius: 2px;
}
.container .main-right .history-con {
  margin: 10px 0 0 0;
  overflow: hidden;
}
.container .main-right .history-con .prev,
.container .main-right .history-con .next,
.container .main-right .history-con .history-btn {
  float: left;
  width: 30px;
  height: 64px;
  margin: 0 0 0 4px;
  line-height: 64px;
  text-align: center;
  border-top: solid 1px #dcdedf;
  border-left: solid 1px #dcdedf;
  background-color: #fff;
  cursor: pointer;
}
.container .main-right .history-con .prev i,
.container .main-right .history-con .next i,
.container .main-right .history-con .history-btn i {
  vertical-align: middle;
}
.container .main-right .history-con .list {
  float: left;
  overflow: hidden;
}
.container .main-right .history-con .list li {
  float: left;
  margin: 0 0 0 5px;
  width: 110px;
  height: 64px;
  text-align: center;
  border-top: solid 1px #dcdedf;
  border-left: solid 1px #dcdedf;
  background-color: #fff;
  cursor: pointer;
}
.container .main-right .history-con .list li .time {
  margin: 14px 0 0 0;
  font-size: 12px;
  color: #323333;
}
.container .main-right .history-con .list li .money-con {
  color: #aaa;
  font-size: 16px;
}
.container .main-right .history-con .list li .money-con .money {
  font-size: 21px;
  color: #ec6500;
}
.container .main-right .history-con .list li.cur {
  border-top: solid 4px #4388c8;
}
.container .main-right .history-con .list li.cur .time {
  margin: 11px 0 0 0;
}
.container .main-right .history-con .prev {
  margin: 0;
}
.container .main-right .history-con .history-btn {
  width: 130px;
  font-size: 12px;
  color: #535353;
}
.container .main-right .history-con .history-btn span {
  margin: 0 0 0 10px;
  vertical-align: middle;
}
.container .main-right .month-count {
  margin: 20px 0 0 0;
}
.container .main-right .month-count .title {
  font-size: 12px;
  color: #323333;
  line-height: 1.5em;
}
.container .main-right .month-count ul {
  overflow: hidden;
}
.container .main-right .month-count ul li {
  float: left;
  width: 200px;
  height: 70px;
  border: solid 1px #d8d9db;
  overflow: hidden;
  margin: 0 30px 0 0;
  background-color: #fff;
  border-radius: 2px;
}
.container .main-right .month-count ul li .left {
  float: left;
  margin: 15px 0 0 10px;
  font-size: 12px;
}
.container .main-right .month-count ul li .left .num {
  color: #323333;
}
.container .main-right .month-count ul li .left .remark {
  margin: 5px 0 0 0;
  font-size: 10px;
  color: #aaa;
}
.container .main-right .month-count ul li .right {
  float: right;
  width: 60px;
  height: 45px;
  margin: 10px 15px 0 0;
}
.container .main-right .month-count ul li.item1 {
  border-left: solid 1px #43b29e;
}
.container .main-right .month-count ul li.item1 .right {
  background-color: #43b29e;
}
.container .main-right .month-count ul li.item2 {
  border-left: solid 1px #388ac1;
}
.container .main-right .month-count ul li.item2 .right {
  background-color: #388ac1;
}
.container .main-right .month-count ul li.item3 {
  border-left: solid 1px #d04a36;
}
.container .main-right .month-count ul li.item3 .right {
  background-color: #d04a36;
}
.container .main-right .month-count ul li.item4 {
  border-left: solid 1px #e1cc46;
}
.container .main-right .month-count ul li.item4 .right {
  background-color: #e1cc46;
}
.container .main-right .month-count ul li:last-child {
  margin: 0;
}
.container .main-right .project-info {
  margin: 15px 0 0 0;
}
.container .main-right .project-info .project-left,
.container .main-right .project-info .project-right {
  float: left;
  width: 530px;
  border: solid 1px #d8d9db;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}
.container .main-right .project-info .project-left .title,
.container .main-right .project-info .project-right .title {
  background-color: #f4f5f7;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  color: #aaa;
}
.container .main-right .project-info .project-left .info-con {
  padding: 15px 20px 25px 20px;
}
.container .main-right .project-info .project-left .info-con ul {
  position: relative;
  top: 1px;
  z-index: 999;
}
.container .main-right .project-info .project-left .info-con ul li {
  float: left;
  width: 87px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  text-align: center;
  color: #535353;
  padding: 0 4px 0 0;
  border-bottom: solid 1px #cbcbcc;
  cursor: pointer;
}
.container .main-right .project-info .project-left .info-con ul li p {
  position: relative;
  top: -1px;
  background-color: #ededf0;
  border-bottom: solid 1px #cbcbcc;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.container .main-right .project-info .project-left .info-con ul li.cur p {
  border: solid 1px #cbcbcc;
  border-bottom: 0;
  background-color: #fff;
}
.container .main-right .project-info .project-left .info-con .table-con {
  width: 100%;
  padding: 25px 50px 35px 35px;
  border: solid 1px #cbcbcc;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
}
.container .main-right .project-info .project-left .info-con .table-con table {
  width: 100%;
  border-collapse: collapse;
}
.container .main-right .project-info .project-left .info-con .table-con table td {
  font-size: 12px;
  color: #535353;
  border: solid 1px #d7d7d7;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.container .main-right .project-info .project-left .info-con .table-con table td.cur {
  background-color: #f4f5f6;
}
.container .main-right .project-info .project-right {
  float: right;
  width: 350px;
}
.container .main-right .project-info .project-right .info-con {
  position: relative;
  padding: 15px 0 35px 40px;
  font-size: 12px;
}
.container .main-right .project-info .project-right .info-con p {
  padding: 0 0 0 16px;
}
.container .main-right .project-info .project-right .info-con p.show-title {
  color: #c3c2c2;
}
.container .main-right .project-info .project-right .info-con p.text {
  color: #535353;
}
.container .main-right .project-info .project-right .info-con .info-con-top {
  height: 256px;
  margin: 0 0 35px 0;
}
.container .main-right .project-info .project-right .info-con .info-con-top .price-con {
  overflow: hidden;
  border-bottom: solid 1px #dddedd;
  padding: 5px 0 0 0;
}
.container .main-right .project-info .project-right .info-con .info-con-top .price-con .price {
  float: left;
  width: 100px;
  height: 45px;
  padding: 5px 0 0 0;
  border-top: solid 1px #dddedd;
  border-right: solid 1px #dddedd;
}
.container .main-right .project-info .project-right .info-con .info-con-top .price-con .person {
  float: left;
  width: 185px;
  height: 45px;
  padding: 5px 0 0 0;
  border-top: solid 1px #dddedd;
}
.container .main-right .project-info .project-right .info-con .info-con-bottom {
  position: absolute;
  bottom: 35px;
  left: 40px;
  width: 280px;
  height: 40px;
  line-height: 40px;
  border-top: solid 1px #dddedd;
}
.container .main-right .project-info .project-right .info-con .info-con-bottom input,
.container .main-right .project-info .project-right .info-con .info-con-bottom span {
  display: inline-block;
  vertical-align: middle;
  color: #c3c2c2;
}
.container .main-right .project-info .project-right .info-con .info-con-bottom a {
  float: right;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 10px 0 0 0;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-color: #388ac1;
  border-radius: 2px;
}
