.icons {
  display: inline-block;
  background-image: url(../../images/task9/icons.png);
}
.icons.icon-logo {
  width: 36px;
  height: 36px;
  background-position: 0 0;
}
.icons.icon-search {
  width: 18px;
  height: 19px;
  background-position: 0 -36px;
}
.icons.icon-login {
  width: 18px;
  height: 19px;
  background-position: -18px -36px;
}
.icons.icon-cur-folder-top {
  width: 12px;
  height: 12px;
  background-position: 0 -55px;
}
.icons.icon-cur-folder {
  width: 12px;
  height: 12px;
  background-position: -12px -55px;
}
.icons.icon-cur-file {
  width: 12px;
  height: 12px;
  background-position: -24px -55px;
}
.icons.icon-cur-down {
  width: 12px;
  height: 12px;
  background-position: -36px -55px;
}
.icons.icon-folder {
  width: 12px;
  height: 12px;
  background-position: -12px -67px;
}
.icons.icon-file {
  width: 12px;
  height: 12px;
  background-position: -24px -67px;
}
.icons.icon-right {
  width: 12px;
  height: 12px;
  background-position: -48px -67px;
}
.icons.icon-star {
  width: 12px;
  height: 12px;
  background-position: -60px -67px;
}
.icons.icon-share {
  width: 12px;
  height: 12px;
  background-position: -72px -67px;
}
.icons.icon-info {
  width: 12px;
  height: 12px;
  background-position: -84px -67px;
}
.icons.icon-date {
  width: 32px;
  height: 32px;
  background-position: 0 -79px;
}
.icons.icon-exchange {
  width: 27px;
  height: 37px;
  background-position: 0 -111px;
}
.icons.arrow-left {
  width: 10px;
  height: 17px;
  background-position: 0 -153px;
}
.icons.arrow-right {
  width: 10px;
  height: 17px;
  background-position: -10px -153px;
}
.font16 {
  font-size: 16px;
  line-height: 16px;
}
.font12 {
  font-size: 12px;
  line-height: 12px;
}
.select-con {
  display: inline-block;
  position: relative;
}
.select-con select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  padding: 2px 25px 2px 10px;
  outline: none;
  color: #323333;
}
.select-con:after {
  position: absolute;
  top: 12px;
  right: 10px;
  content: "";
  display: block;
  width: 9px;
  height: 5px;
}
.select-con.select-blue:after {
  background: url(../../images/task9/select-blue.png);
  background-size: cover;
}
.select-con.select-black:after {
  background: url(../../images/task9/select-black.png);
  background-size: cover;
}
.select-con.select-date:after {
  background: url(../../images/task9/select-date.png);
  background-size: cover;
}
input.form-control {
  outline: none;
  border: solid 1px #dddede;
  height: 26px;
  line-height: 26px;
  padding: 2px 10px;
  font-size: 12px;
}
body {
  background-color: #eeeeed;
}
header {
  width: 100%;
  height: 55px;
  padding: 0 94px 0 50px;
  background-color: #2189bf;
  color: #fff;
  overflow: hidden;
}
header .icon-logo {
  float: left;
  margin: 10px 0 0 0;
}
header .right {
  float: right;
  height: 55px;
  overflow: hidden;
}
header .right .input-group {
  float: left;
  position: relative;
  margin: 14px 20px 0 0;
}
header .right .input-group input {
  display: block;
  width: 310px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px 0 40px;
  border: 0;
  border-radius: 30px;
  outline: none;
  background-color: #fff;
}
header .right .input-group i {
  position: absolute;
  top: 6px;
  left: 17px;
}
header .right .login-con {
  float: right;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
}
header .right .login-con .icon-login,
header .right .login-con span {
  vertical-align: middle;
}
header .right .login-con .icon-login {
  margin: 0 5px 0 0;
}
header .right .login-con span {
  font-size: 12px;
}
.main {
  overflow: hidden;
  margin: 0 auto;
  width: 1280px;
}
.sidebar {
  width: 260px;
  height: 100%;
  float: left;
  background-color: #2a2e3d;
  overflow: hidden;
}
.sidebar .head-info {
  overflow: hidden;
  margin: 18px 0 24px 0;
}
.sidebar .head-info .head-con {
  float: left;
  overflow: hidden;
  margin: 0 0 0 44px;
  padding: 3px;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: solid 1px #b9babe;
}
.sidebar .head-info .head-con .head {
  width: 100%;
  height: 100%;
  border-radius: 56px;
  background-color: #b9babe;
}
.sidebar .head-info .name {
  float: right;
  margin: 0 90px 0 0;
  height: 58px;
  line-height: 58px;
  color: #f6f5f5;
  font-size: 16px;
}
.sidebar .star-info {
  margin: 0 0 22px 0;
  color: #6e8095;
  overflow: hidden;
  text-align: center;
}
.sidebar .star-info .star {
  float: left;
  margin: 0 0 0 60px;
}
.sidebar .star-info .hr {
  float: left;
  margin: 0 30px;
  width: 2px;
  height: 30px;
  background-color: #313545;
}
.sidebar .star-info .fans {
  float: left;
}
.sidebar .tree-1 {
  height: 16px;
  font-size: 12px;
  margin: 18px 0;
  padding: 0 0 0 70px;
  color: #6e8095;
}
.sidebar .tree-1 i,
.sidebar .tree-1 span {
  vertical-align: middle;
  margin: 0 5px;
}
.sidebar .tree-1 .cur {
  color: #fff;
}
.sidebar .act .tree-1 {
  height: 16px;
  font-size: 12px;
  margin: 10px 0;
  padding: 0 0 0 70px;
}
.sidebar .act .tree-1 i,
.sidebar .act .tree-1 span {
  vertical-align: middle;
}
.sidebar .tree-2 {
  height: 16px;
  font-size: 12px;
  margin: 18px 0;
  padding: 0 0 0 100px;
  color: #6e8095;
}
.sidebar .tree-2 i,
.sidebar .tree-2 span {
  vertical-align: middle;
  margin: 0 5px;
}
.sidebar .tree-2 .cur {
  color: #fff;
}
.sidebar .act .tree-2 {
  height: 16px;
  font-size: 12px;
  margin: 10px 0;
  padding: 0 0 0 100px;
}
.sidebar .act .tree-2 i,
.sidebar .act .tree-2 span {
  vertical-align: middle;
}
.sidebar .tree-3 {
  height: 16px;
  font-size: 12px;
  margin: 18px 0;
  padding: 0 0 0 130px;
  color: #6e8095;
}
.sidebar .tree-3 i,
.sidebar .tree-3 span {
  vertical-align: middle;
  margin: 0 5px;
}
.sidebar .tree-3 .cur {
  color: #fff;
}
.sidebar .act .tree-3 {
  height: 16px;
  font-size: 12px;
  margin: 10px 0;
  padding: 0 0 0 130px;
}
.sidebar .act .tree-3 i,
.sidebar .act .tree-3 span {
  vertical-align: middle;
}
.sidebar .act {
  background-color: #383d4e;
  overflow: hidden;
}
.container {
  width: 1020px;
  float: right;
}
.container .nav {
  background-color: #fff;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 30px;
  color: #aaa;
}
.container .nav a {
  color: #6898c2;
}
.container .main-right {
  padding: 20px 70px 20px 60px;
}
.container .main-right .filter {
  background-color: #fff;
  border: solid 1px #e5e6e6;
  padding: 15px 0;
  overflow: hidden;
}
.container .main-right .filter .item {
  margin: 0 0 0 30px;
  float: left;
}
.container .main-right .filter .item span {
  display: inline-block;
  margin: 0 10px 0 0;
  color: #aaa;
}
.container .main-right .filter .item .person {
  float: left;
}
.container .main-right .filter .item .person div:first-child {
  margin: 0 0 5px 0;
}
.container .main-right .filter .item .icon-exchange {
  float: left;
  cursor: pointer;
  margin: 10px 0 0 5px;
}
