body {
  background-color: #fff;
}
.icons {
  display: inline-block;
  background-image: url(../../images/task7/icons.png);
}
.icons.icon-logo {
  width: 31px;
  height: 31px;
  background-position: 0 0;
}
.icons.icon-login {
  width: 14px;
  height: 17px;
  background-position: -42px 0;
}
.icons.icon-info-1 {
  width: 42px;
  height: 42px;
  background-position: 0 -42px;
}
.icons.icon-info-2 {
  width: 42px;
  height: 42px;
  background-position: -42px -42px;
}
.icons.icon-info-3 {
  width: 42px;
  height: 42px;
  background-position: -84px -42px;
}
.icons.icon-info-4 {
  width: 42px;
  height: 42px;
  background-position: -126px -42px;
}
.icons.icon-logo-big {
  width: 91px;
  height: 92px;
  background-position: 0 -84px;
}
.icons.icon-arr-down {
  width: 19px;
  height: 18px;
  background-position: 0 -176px;
}
.icons.icon-arr-down-gray {
  width: 10px;
  height: 6px;
  background-position: 0 -195px;
}
.icons.icon-qq {
  width: 24px;
  height: 25px;
  background-position: 0 -201px;
}
.icons.icon-wb {
  width: 29px;
  height: 25px;
  background-position: -25px -201px;
}
.icons.icon-tt {
  width: 29px;
  height: 25px;
  background-position: -57px -201px;
}
.icons.icon-dq {
  width: 24px;
  height: 25px;
  background-position: -86px -201px;
}
.main {
  width: 1280px;
  margin: 0 auto;
  background-color: #fff;
}
header {
  overflow: hidden;
  height: 56px;
  width: 1160px;
  margin: 0 auto;
}
header .left {
  float: left;
  height: 56px;
  line-height: 56px;
  font-size: 21px;
  font-weight: bold;
  color: #393a3a;
}
header .left i,
header .left span {
  vertical-align: middle;
}
header .right {
  float: right;
  overflow: hidden;
  height: 56px;
}
header .right ul {
  float: left;
}
header .right ul li {
  float: left;
  height: 54px;
  line-height: 54px;
  padding: 0 15px;
  margin: 0 5px;
}
header .right ul li a {
  display: block;
  color: #787b83;
}
header .right ul li.cur,
header .right ul li:hover {
  border-bottom: solid 2px #e74f4d;
}
header .right ul li.cur a,
header .right ul li:hover a {
  color: #e74f4d;
}
header .right .login {
  float: right;
  height: 54px;
  line-height: 54px;
}
header .right .login a {
  display: block;
  color: #e74f4d;
}
header .right .login i,
header .right .login span {
  vertical-align: middle;
}
.banner {
  background: no-repeat url(../../images/task7/banner.jpg);
  overflow: hidden;
  height: 690px;
}
.banner section {
  margin: 230px 0 0 110px;
  color: #fff;
}
.banner section h1 {
  font-size: 60px;
  line-height: 60px;
  margin: 0 0 30px 0;
}
.banner section p {
  font-size: 21px;
  line-height: 1.5em;
}
.banner section a {
  display: block;
  margin: 60px 0 0 0;
  width: 330px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  background-color: #e74f4d;
}
.intro li {
  float: left;
  width: 25%;
  overflow: hidden;
  color: #767777;
  text-align: center;
}
.intro li i {
  margin: 45px auto;
}
.intro li p {
  padding: 0 80px;
  margin: 0 0 65px 0;
  border-right: solid 2px #bbb;
  height: 50px;
}
.intro li:last-child p {
  border-right: 0;
}
.what {
  text-align: center;
  overflow: hidden;
  background-color: #ededec;
}
.what i {
  margin: 90px auto 50px auto;
}
.what p {
  color: #a1a1a1;
  font-size: 54px;
  line-height: 54px;
  margin: 0 0 80px 0;
}
.city-con {
  height: 341px;
  overflow: hidden;
  background: no-repeat url(../../images/task7/city-bg.jpg);
  text-align: center;
  color: #fff;
}
.city-con h2 {
  font-size: 21px;
  line-height: 21px;
  margin: 53px 0 0 0;
}
.city-con .hr {
  width: 30px;
  margin: 20px auto 20px auto;
  height: 3px;
  background-color: #fff;
}
.city-con p {
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 53px 0;
}
.city-con .form {
  overflow: hidden;
  margin: 0 110px;
}
.city-con .form li {
  float: left;
  width: 25%;
  padding: 0 15px;
}
.city-con .form li .select-con {
  position: relative;
}
.city-con .form li .select-con select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
  text-align: left;
  height: 35px;
  line-height: 35px;
  color: #89898a;
  padding: 0 30px 0 10px;
  width: 100%;
  outline-color: #e74f4d;
}
.city-con .form li .select-con select::-ms-expand {
  display: none;
}
.city-con .form li .select-con select option {
  background-color: #e4e3e5;
}
.city-con .form li .select-con:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  right: 10px;
  width: 19px;
  height: 18px;
  background-image: url(../../images/task7/arrow.png);
}
.city-con .form li a {
  display: block;
  height: 35px;
  line-height: 35px;
  background-color: #e74f4d;
  color: #fff;
}
.info {
  height: 605px;
  background-color: #f7f7f7;
  overflow: hidden;
}
.info ul {
  margin: 100px 130px 0 130px;
}
.info ul li {
  float: left;
  width: 25%;
  padding: 0 19px;
  text-align: center;
  color: #666;
}
.info ul li .img-con {
  background-color: #fff;
  padding: 13px 7px;
  min-height: 341px;
}
.info ul li .img-con img {
  display: block;
  width: 100%;
}
.info ul li h2 {
  margin: 10px 0 5px 0;
  font-size: 14px;
}
.info ul li p {
  font-size: 12px;
}
.info ul li.cur h2 {
  margin: 0 0 10px 0;
  font-size: 21px;
  font-weight: 400;
}
.info ul li.cur p {
  margin: 0 0 10px 0;
}
.new-world .left {
  float: left;
  position: relative;
  width: 851px;
  height: 567px;
  background: no-repeat url(../../images/task7/news-world-bg.jpg);
}
.new-world .left:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin: -10px 0 0 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #fff;
  border-bottom: 10px solid transparent;
}
.new-world .right {
  float: right;
  width: 429px;
}
.new-world .right .img {
  display: block;
  width: 103px;
  margin: 165px auto 0 auto;
}
.new-world .right p {
  width: 290px;
  margin: 30px auto 0 auto;
  line-height: 40px;
  font-size: 12px;
  color: #aaa;
}
.new-world .right .btn {
  display: block;
  height: 32px;
  width: 103px;
  line-height: 32px;
  margin: 30px auto 0 auto;
  text-align: center;
  font-size: 12px;
  color: #e74f4d;
  border: solid 1px #e74f4d;
}
.new-world .right ul {
  overflow: hidden;
  margin: 25px auto 0 auto;
  width: 72px;
}
.new-world .right ul li {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 7px;
  border: solid 1px #929293;
  border-radius: 10px;
}
.new-world .right ul li.cur {
  background-color: #929293;
}
.about .left {
  float: left;
  width: 852px;
  font-size: 21px;
  text-align: center;
}
.about .left p {
  margin: 168px auto 0 auto;
  line-height: 1.5em;
}
.about .left .hr {
  width: 30px;
  height: 2px;
  margin: 25px auto 0 auto;
  background-color: #fff;
}
.about .left .btn {
  display: block;
  margin: 25px auto 0 auto;
  width: 168px;
  height: 42px;
  line-height: 42px;
  border: solid 1px #fff;
}
.about .left .bg-pra {
  float: left;
  width: 50%;
  height: 521px;
  background-color: #e74f4d;
  color: #fff;
}
.about .left .bg-pra a {
  color: #fff;
}
.about .left .bg-ff {
  float: right;
  width: 50%;
  height: 521px;
  background-color: #fff;
  color: #323333;
}
.about .left .bg-ff .hr {
  background-color: #ababab;
}
.about .left .bg-ff .btn {
  color: #e74f4d;
  border: solid 1px #e74f4d;
}
.about .right {
  position: relative;
  width: 428px;
  height: 521px;
  float: right;
  background: no-repeat url(../../images/task7/about-bg.jpg);
}
.about .right:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin: -10px 0 0 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #fff;
  border-bottom: 10px solid transparent;
}
.join-us {
  padding: 0 0 160px 0;
}
.join-us h2 {
  margin: 120px auto 0 auto;
  font-size: 21px;
  line-height: 21px;
  color: #323333;
  text-align: center;
}
.join-us .hr {
  width: 30px;
  height: 2px;
  background-color: #e74f4d;
  margin: 10px auto 0 auto;
}
.join-us .head-intro {
  margin: 15px auto 0 auto;
  width: 420px;
  color: #aaa;
}
.join-us .body {
  width: 1000px;
  margin: 90px auto 0 auto;
}
.join-us .body .clause {
  width: 290px;
  float: left;
}
.join-us .body .clause .item {
  margin: 0 0 25px 0;
  color: #231815;
}
.join-us .body .clause .item h3 {
  line-height: 14px;
  opacity: .8;
}
.join-us .body .clause .item p {
  margin: 20px 0 0 0;
  line-height: 2em;
  font-size: 12px;
  opacity: .6;
}
.join-us .body .clause .item p.more {
  margin: 0;
  text-align: right;
  font-size: 12px;
}
.join-us .body .clause .item p.more i {
  margin: 0 5px 0 0;
}
.join-us .body .clause .item:last-child {
  margin: 0;
}
.join-us .body .form {
  float: right;
  width: 660px;
}
.join-us .body .form .form-group {
  float: left;
  width: 50%;
  padding: 0 10px;
  margin: 0 0 15px 0;
}
.join-us .body .form .form-group input {
  display: block;
  width: 100%;
  font-size: 12px;
  padding: 15px;
  background-color: #ededee;
  outline: none;
  border: 0;
}
.join-us .body .form textarea {
  display: block;
  width: 640px;
  height: 120px;
  padding: 10px 20px;
  margin: 0 10px 15px 10px;
  background-color: #ededee;
  border: 0;
  resize: none;
  outline: none;
}
.join-us .body .form .btn {
  display: block;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  color: #323333;
  background-color: #ededee;
}
.contact-us {
  background-color: #32363e;
  color: #fff;
  text-align: center;
  padding: 90px 0 70px 0;
}
.contact-us h2 {
  font-size: 21px;
  line-height: 21px;
  margin: 0 0 13px 0;
}
.contact-us p {
  width: 470px;
  font-size: 12px;
  line-height: 1.5em;
  margin: 0 auto 25px auto;
}
.contact-us .form-group {
  position: relative;
  width: 510px;
  margin: 0 auto 35px auto;
}
.contact-us .form-group input {
  float: left;
  display: block;
  width: 430px;
  height: 40px;
  line-height: 40px;
  border: 0;
  padding: 0 10px;
  outline: none;
}
.contact-us .form-group a {
  float: right;
  display: block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #6f7278;
}
.contact-us ul {
  width: 200px;
  margin: 0 auto;
}
.contact-us ul li {
  float: left;
  width: 25%;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.contact-us ul li a {
  display: block;
}
.contact-us ul li i {
  vertical-align: middle;
}
footer {
  background-color: #2f2f38;
  height: 56px;
  padding: 30px 0 0 0;
  color: #fff;
}
footer p {
  float: left;
  margin: 0 0 0 100px;
}
footer a {
  display: block;
  float: right;
  margin: 0 40px 0 0;
  color: #fff;
}
