body{
  background-color: #545454;
}
.pa{
  position: absolute;
}
.pr{
  position: relative;
}
.font24{
  font-size: 24px;
  line-height: 24px;
}
.font21{
  font-size: 21px;
  line-height: 21px;
}
.font12{
  font-size: 12px;
  line-height: 12px;
}
.main{
  width: 980px;
  margin:  auto;
  background-color: #fff;
  padding: 0 44px;
  header{
    font-size: 12px;
    border-bottom: solid 2px #938e8c;
    .left{
      .pr;
      float:left;
      width: 110px;
      height: 61px;
      background-color: #ce5455;
      color:#fff;
      font-family: "����";
      span{
        .pa;
        left: 5px;
        bottom: 5px;
      }
    }
    .right{
      .pr;
      top:40px;
      float:right;
      color:#d45d5c;
    }
  }
  .first{
    margin: 40px 0 0 0;
    overflow: hidden;
    .left{
      .pr;
      float: left;
      width: 641px;
      height: 301px;
      background-image: url(../../images/task6/banner1.jpg);
      .banner-cover1,
      .banner-cover2{
        .pa;
        left: 0;
        top: 0;
        width: 191px;
        height: 301px;
      }
      .banner-cover2{
        left: auto;
        right: 0;
      }
    }
    .right{
      width: 200px;
      float: right;
      border-top: solid 2px #cc8091;
      .top{
        margin: 4px 0 32px 0;
        .font24{
          display: inline-block;
          text-decoration: underline;
          line-height: 1.5em;
        }
        .font12{
          display: inline-block;
        }
      }
      .middle{
        .pr;
        left: -25px;
        font-size: 116px;
        line-height: 116px;
        color:#75b86b;
        font-style: oblique;
      }
      .bottom{
        .b-left{
          float: left;
          font-size: 55px;
          line-height: 55px;
          color:#cc8091;
        }
        .b-right{
          .pr;
          top:18px;
          left: 5px;
          float: left;
          .b-r-top{
            font-size: 21px;
            line-height: 21px;
            color:#cc8091;
          }
          .b-r-bottom{
            font-size: 12px;
            line-height: 12px;
            color:#231815;
          }
        }
      }
    }
  }
  .second{
    margin: 40px 0 0 0;
    overflow: hidden;
    .title{
      font-size: 16px;
      line-height: 16px;
      margin: 0 0 10px 0;
      text-decoration: underline;
      font-weight: bold;
    }
    .text{
      font-size: 12px;
      line-height: 16px;
    }
    .what{
      float: left;
      width: 260px;
      padding: 0 30px 0 0;
      .title{
        color:#418c59;
      }
    }
    .when{
      float: left;
      width: 230px;
      padding: 0 30px 0 0;
      .title{
        color:#d2994f;
      }
    }
    .how{
      float: left;
      width: 150px;
      padding: 0 30px 0 0;
      .title{
        color:#cc7680;
      }
      .text{
        line-height: 2em;
      }
      .bottom{
        margin: 15px 0 0 0;
        span{
          color:#cd4a48;
          font-style: oblique;
        }
      }
    }
  }
  .third{
    margin: 60px 0 0 0;
    overflow: hidden;
    .left{
      float: left;
      width: 434px;
      padding: 0 20px 40px 0;
      .title{
        font-size: 42px;
        line-height: 42px;
        color:#11456b;
        font-family: SimHei;
        font-weight: bold;
        span{
          font-size: 72px;
          line-height: 72px;
          color:#f5e327;
          font-style: oblique;
        }
      }
      .title-zh{
        margin: 10px 0 0 0;
        font-size: 33px;
        line-height: 33px;
        color:#11456b;
        font-family: SimHei;
        font-weight: bold;
      }
      .hr{
        margin: 10px 0 15px 0;
        border-bottom: solid 2px #11456b;
      }
      .content{
        overflow: hidden;
        color:#767777;
        p{
          text-indent:28px;
          &:first-child{
            text-indent:0;
            &:first-letter{
              float:left;
              font-size: 70px;
              line-height: 70px;
              color:#f5e327;
              vertical-align:top;
            }
          }
        }
        img{
          width: 167px;
          float: right;
          margin: 20px 0 0 15px;
        }
      }
    }
    .right{
      float:left;
      width: 458px;
      .top{
        .pr;
        height: 275px;
        background-image: url(../../images/task6/b-r-1.jpg);
        background-size: 100%;
        .content{
          .pa;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 61px;
          background-image: url(../../images/task6/bg-black.png);
          .text{
            overflow: hidden;
            margin: 10px 0 0 38px;
            border-left: solid 3px #72b16a;
            p{
              .pr;
              top:15px;
              float:left;
              margin: 0 0 0 10px;
              font-style: oblique;
              color:#72b16a;
              &:first-child{
                top:0;
                font-style: normal;
                color:#fff;
                font-size: 26px;
              }
            }
          }
        }
      }
      .bottom{
        overflow: hidden;
        margin: 28px 0 0 0;
        background-color: #eeedd6;
        ul{
          margin: 30px 20px 0 30px;
          li{
            margin: 0 0 25px 0;
            overflow: hidden;
           p{
             .pr;
             padding: 0 0 0 20px;
             font-size: 16px;
             &:before{
               .pa;
               top: 5px;
               left: 0;
               content:"";
               display: block;
               width: 0;
               height: 0;
               border-left: 5px solid transparent;
               border-right: 5px solid transparent;
               border-bottom: 10px solid #10446b;
             }
             .point{
               display: inline-block;
               margin: 0 0 0 5px;
             }
             .end{
               .pr;
               top: 3px;
               float: right;
               font-size: 12px;
               vertical-align: bottom;
             }
           }
          }
        }
        .last-bottom{
          height: 160px;
          overflow: hidden;
          .last-left{
            float: left;
            width: 260px;
            height:160px;
            background-color: #d45d5c;
            color:#fff;
            .zero{
              float: left;
              margin: 30px 0 0 5px;
              font-size: 110px;
              line-height: 110px;
            }
            .one{
              float: left;
              width: 190px;
              margin: 40px 0 0 0;
              padding: 0 0 0 5px;
              height: 86px;
              border-left: solid 2px #fff;
              .font21{
                line-height: 1.2em;
                font-style: oblique;
              }
              .font12{
                line-height: 1.5em;
              }
            }
          }
          .last-right{
            .pr;
            float: right;
            width: 198px;
            padding: 15px;
            font-style: oblique;
            color:#5a5b5b;
            &:before{
              content: "“";
              display: block;
              .pa;
              top: -10px;
              left: -40px;
              color:#d45d5c;
              font-size: 72px;
            }
            &:after{
              content: "“";
              display: block;
              .pa;
              bottom: -45px;
              right: 40px;
              color:#d45d5c;
              font-size: 72px;
            }
          }
        }
      }
    }
  }
  footer{
    .pr;
    height: 60px;
    width: 892px;
    margin: 0 auto;
    border-top: solid 1px #938e8c;
    p{
      .pa;
      top: 0;
      right: 0;
      font-size: 12px;
      color:#d45d5c;
    }
  }
}