<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>task9</title>
    <link rel="stylesheet" href="../../css/base/reset.css"/>
    <link rel="stylesheet" href="../../css/task9/index.css"/>
    <!--[if lt IE9]>
    <script type="text/javascript" src="../../js/base/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

    <header>
        <i class="icons icon-logo"></i>
        <div class="right">
            <div class="input-group">
                <i class="icons icon-search"></i>
                <input type="text" name="search"/>
            </div>
            <p class="login-con">
                <i class="icons icon-login"></i>
                <span>登录</span>
            </p>
        </div>
    </header>

    <div class="main">

        <div class="sidebar">
            <div class="head-info">
                <div class="head-con"><div class="head"></div></div>
                <p class="name">ABC123</p>
            </div>
            <div class="star-info">
                <div class="star">
                    <p class="font16">110</p>
                    <p class="font12">收藏</p>
                </div>
                <div class="hr"></div>
                <div class="fans">
                    <p class="font16">313</p>
                    <p class="font12">粉丝</p>
                </div>
            </div>
            <div class="act">
                <p class="tree-1"><i class="icons icon-cur-folder-top"></i><span>个人报表</span></p>
                <p class="tree-2"><i class="icons icon-right"></i><i class="icons icon-folder"></i><span>文件一</span></p>
                <p class="tree-2"><i class="icons icon-cur-down"></i><i class="icons icon-cur-folder"></i><span class="cur">文件二</span></p>
                <p class="tree-3"><i class="icons icon-cur-file"></i><span class="cur">文档1</span></p>
                <p class="tree-3"><i class="icons icon-file"></i><span>文档1</span></p>
                <p class="tree-2"><i class="icons icon-right"></i><i class="icons icon-folder"></i><span>文件三</span></p>
            </div>
            <p class="tree-1"><i class="icons icon-star"></i><span>个人收藏</span></p>
            <p class="tree-1"><i class="icons icon-share"></i><span>我的分享</span></p>
            <p class="tree-1"><i class="icons icon-star"></i><span>图库</span></p>
            <p class="tree-1"><i class="icons icon-star"></i><span>成长记录</span></p>
            <p class="tree-1"><i class="icons icon-info"></i><span>账户信息</span></p>
        </div>

        <div class="container">
            <p class="nav">C站&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;个人报表&nbsp;&nbsp;/&nbsp;&nbsp;文件一／<a href="javascript:;">文档一</a></p>
            <div class="main-right">
                <div class="filter">
                    <div class="item">
                        <span>查询项</span>
                        <div class="select-con select-blue">
                            <select class="form-control">
                                <option value="1">第一项</option>
                                <option value="2">第二项</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="person">
                            <div>
                                <span>买方</span>
                                <div class="select-con select-blue">
                                    <select class="form-control" style="width:120px;">
                                        <option value="1">小A</option>
                                        <option value="2">小A</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <span>卖方</span>
                                <div class="select-con select-black">
                                    <select class="form-control" style="width:120px;">
                                        <option value="1">小C</option>
                                        <option value="2">小C</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <i class="icons icon-exchange"></i>
                    </div>
                    <div class="item">
                        <div>
                            <span>日期</span>
                            <input class="form-control" name="date" type="text" value="2016-04-01"/>
                            <span style="margin-left: 10px;">总耗时</span>
                            <div class="select-con select-black">
                                <select class="form-control" style="width:70px;">
                                    <option value="1">8天</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <span>人数</span>
                            <div class="select-con select-black">
                                <select class="form-control" style="width:70px;">
                                    <option value="1">10人</option>
                                </select>
                            </div>
                            <span style="margin-left: 10px;">成交项</span>
                            <div class="select-con select-black">
                                <select class="form-control" style="width:120px;">
                                    <option value="1">10项</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>