<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/base/reset.css"/>
    <link rel="stylesheet" href="../../css/task2/first.css"/>
    <link rel="stylesheet" href="../../css/task5/index.css"/>
    <!--[if lt IE9]>
    <script type="text/javascript" src="../../js/base/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="clearfix">
        <h1>网站一级标题</h1>
        <ul class="clearfix">
            <li><a href="javascript:;">导航链接一</a></li>
            <li><a href="javascript:;">导航链接二</a></li>
            <li><a href="javascript:;">导航链接三</a></li>
            <li><a href="javascript:;">导航链接四</a></li>
        </ul>
    </nav>

    <div class="main clearfix">
        <div class="right-main">
            <section class="sidebar">
                <h2>这以后是一个侧栏，这是侧栏标题</h2>
                <form>
                    <div class="form-row">
                        <label class="left">请输入邮箱地址</label>
                        <p class="right">
                            <input type="text" placeholder="这是一个文本输入框"/>
                        </p>
                    </div>
                    <div class="form-row">
                        <div class="left"></div>
                        <p class="right remind">邮箱地址请按照要求输入</p>
                    </div>
                    <div class="form-row">
                        <label class="left">请输入密码</label>
                        <p class="right">
                            <input type="password" value="123456" />
                        </p>
                    </div>
                    <div class="form-row">
                        <label class="left">请重复输入密码</label>
                        <p class="right">
                            <input type="password" value="123456" />
                        </p>
                    </div>
                    <div class="form-row">
                        <div class="left"></div>
                        <p class="right remind">密码为6-16位的英文数字</p>
                    </div>
                    <div class="form-row">
                        <label class="left">性别</label>
                        <p class="right">
                            <label class="mr10"><input type="radio" name="sex" value="1"/>男</label>
                            <label class="mr10"><input type="radio" name="sex" value="2"/>女</label>
                        </p>
                    </div>
                    <div class="form-row">
                        <label class="left">城市</label>
                        <p class="right">
                            <select>
                                <option value="1">北京</option>
                                <option value="2">上海</option>
                            </select>
                        </p>
                    </div>
                    <div class="form-row">
                        <label class="left">爱好</label>
                        <p class="right">
                            <label class="mr10"><input type="checkbox" value="1"/>运动</label>
                            <label class="mr10"><input type="checkbox" value="2"/>艺术</label>
                            <label class="mr10"><input type="checkbox" value="3"/>动漫</label>
                        </p>
                    </div>
                    <div class="form-row">
                        <label class="left">个人描述</label>
                        <p class="right">
                            <textarea row="2" placeholder="这是一个多行输入框"></textarea>
                        </p>
                    </div>
                    <input type="submit" value="确认提交"/>
                </form>
            </section>
        </div>
        <div class="left-main">
            <section>
                <h2>文章的一级标题</h2>
                <h3>文章的二级标题</h3>
                <p class="subtitle">文章作者&nbsp;文章发表时间</p>
                <p class="content">这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了<br/>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了<br/>这是一个很长很长的段落，这是一个很长很长的段落，<a href="http://www.baidu.com" title="鼠标滑过显示标题">这是一个链接到http://www.baidu.com</a>这是一个很长很长的段落，这是一个很长很长的段落，<strong>这是粗体</strong>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，<em>这是斜体</em>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，<img src="../../images/base/1.jpg" alt="图片1" />这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，<a href="http://www.baidu.com" target="_block">这是一个会打开新窗口的链接，链接到http://www.baidu.com</a>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，
                </p>
            </section>
            <section>
                <h2>另一篇文章的一级标题</h2>
                <h3>文章的二级标题</h3>
                <p class="subtitle">文章作者&nbsp;文章发表时间</p>
                <p class="content">这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了<br/>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了<br/>这是一个很长很长的段落，这是一个很长很长的段落，<a href="http://www.baidu.com" title="鼠标滑过显示标题">这是一个链接到http://www.baidu.com</a>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落
                    <img src="../../images/base/1.jpg" alt="图片2" />
                </p>
                <ul>
                    <li>列表项目一</li>
                    <li>列表项目二</li>
                    <li>列表项目三</li>
                </ul>
            </section>
            <section class="img-con">
                <h2>图片</h2>
                <div class="clearfix">
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                    <div class="item">
                        <p>好看的图片</p>
                        <img src="../../images/base/1.jpg" alt="图片2" /><br/>
                    </div>
                </div>
            </section>
            <section>
                <h2>最后一篇文章的标题</h2>
                <h3>文章的二级标题</h3>
                <p class="subtitle">文章作者&nbsp;文章发表时间</p>
                <ol>
                    <li>排名1</li>
                    <li>排名2</li>
                    <li>排名3</li>
                </ol>
                <p>下面是一个表格，给表格加上一个borde=“1”好看出是一个表格，不写html时不需要加</p>
                <table>
                    <thead>
                    <tr>
                        <th>表头</th>
                        <th>表头</th>
                        <th>表头</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>内容单元表格</td>
                        <td>内容单元表格</td>
                        <td><a href="javascript:;">操作</a></td>
                    </tr>
                    <tr>
                        <td>内容单元表格</td>
                        <td>内容单元表格</td>
                        <td><a href="javascript:;">操作</a></td>
                    </tr>
                    <tr>
                        <td>内容单元表格</td>
                        <td>内容单元表格</td>
                        <td><a href="javascript:;">操作</a></td>
                    </tr>
                    <tr>
                        <td>内容单元表格</td>
                        <td>内容单元表格</td>
                        <td><a href="javascript:;">操作</a></td>
                    </tr>
                    <tr>
                        <td>总计</td>
                        <td colspan="2">1000</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <footer>版权所有©</footer>

</body>
</html>