<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>task6</title>
    <link rel="stylesheet" href="../../css/base/reset.css"/>
    <link rel="stylesheet" href="../../css/task6/index.css"/>
    <!--[if lt IE9]>
    <script type="text/javascript" src="../../js/base/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

    <div class="main">

        <header class="clearfix">
            <div class="left"><span>ife.baidu.com</span></div>
            <div class="right">2016.03</div>
        </header>

        <section class="first">
            <div class="left">
                <img class="banner-cover1" src="../../images/task6/banner-cover1.png" alt="左边遮罩层"/>
                <img class="banner-cover2" src="../../images/task6/banner-cover2.png" alt="右边遮罩层"/>
            </div>
            <div class="right">
                <p class="top">
                    <span class="font24">About</span><br/>
                    <span class="font24">Technologe</span><br/>
                    <span class="font12">About technologe about technologe about technologe</span>
                </p>
                <p class="middle">700</p>
                <div class="bottom clearfix">
                    <p class="b-left">3.2</p>
                    <div class="b-right">
                        <p class="b-r-top">CSS</p>
                        <p class="b-r-bottom">cssssccsccscssc</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="second">
            <div class="what">
                <p class="title">What</p>
                <p class="text">
                    端前端前端端前端前端前端前端前端前端前
                    端前端前端前端前端前端前端前端端前端前
                    端端前端前端前端前端前端前端前端前端前
                    端前端前端前端前端前端端前端前端端前端
                    前端前端前端前端前端前端前端前端前端前
                    端前端前端前端端前端前端端前端前端前端
                    前端前端前端前端前端前端前端前端前端前
                    端前端端前端前端前端前端前端前端前端前
                    端前端端前端前端
                </p>
            </div>
            <div class="when">
                <p class="title">When</p>
                <p class="text">
                    端前端前端端前端前端前端前端前端前
                    端前端前端前端前端前端前端前端前端
                    端前端前端端前端前端前端前端前端前
                    端前端前端前端前端前端前端前端前端
                    端前端前端端前端前端前端前端前端前
                    端前端前端前端前端前端前端前端前端
                    端前端前端端前端前端前端前端前端前
                    端前端前端前端前端前端前端前端前端
                    端前端前端
                </p>
            </div>
            <div class="how">
                <p class="title">How</p>
                <p class="text">
                    前端前端端前端前端
                    前端前端前端前端前端前
                    端前端前端端前
                </p>
                <p class="bottom">
                    What--------<span>40%</span><br/>
                    What--------<span>30%</span><br/>
                    What--------<span>30%</span><br/>
                </p>
            </div>
        </section>

        <section class="third">

            <div class="left">
                <p class="title">
                    <span>THE</span> TECHNOLOGE OF FRONT
                </p>
                <p class="title-zh">前端技术领域</p>
                <div class="hr"></div>
                <div class="content">
                    <p>前端前端前端前端前端前端前端前端前端前端前端前端前端前端前
                    前端前端前端前端前端前端前端前端前端前端前端前端前端前端
                    前端前端前端前端前端前端前端前端前端
                    前端前端前端前端前端前端前端前端端前
                    端前端端前端前端前端前端前端前端前端
                    <img src="../../images/task6/b-l-1.jpg" alt="图片"/>
                    前端前端前端前端前端前端前端端前端前
                    端端前端前端前端前端前端前端前端前端
                    前端前端前端前端前端前端端前端前端端
                    前端前端前端前端前端前端前端前端前端
                    前端前端前端前端前端端前端前端端前端
                    前端前端前端前端前。
                    </p>
                    <p>
                        端前端前端端前端前端前端前端前端
                        前端前端前端前端前端前端前端前端端前
                        端前端端前端前端前端前端前端前端前端
                        前端前端前端前端前端前端前端端前端前
                        端端前端前端前端前端前端前端前端前端
                        前端前端前端前端前端前端端前端前端端
                        前端前端前端前端前端前端前端前端前端
                    </p>
                    <p>
                        前端前端前端前端前前端前端前端前端前前端前端前端前端前端前端前端前端前端前端前端前端前端前端
                    </p>
                </div>
            </div>

            <div class="right">
                <div class="top">
                    <div class="content">
                        <div class="text">
                            <p>前端技术</p>
                            <p>前端技术前端技术</p>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <ul>
                        <li>
                            <p>
                                前端前端前端前端前端前端
                                <span class="point">........................................</span>
                                <span class="end">前端</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                前端前端前端
                                <span class="point">............................................................</span>
                                <span class="end">前端前</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                前端前端前端前端前端前端
                                <span class="point">........................................</span>
                                <span class="end">前端</span>
                            </p>
                        </li>
                    </ul>
                    <div class="last-bottom">
                        <div class="last-left">
                            <p class="zero">0</p>
                            <div class="one">
                                <p class="font21">ONE TWO<br/>THREE FORE FIVE</p>
                                <p class="font12">hello world hello world hello world</p>
                            </div>
                        </div>
                        <div class="last-right">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;world hello world
                            hello world hello world
                            hello world hello world
                            hello world hello world
                            hello world hello world
                            hello world
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <footer>
            <p>ife.baidu.com</p>
        </footer>

    </div>

</body>
</html>