<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>task10</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../css/base/reset.css"/>
    <link rel="stylesheet" href="../../css/task11/index.css"/>
    <!--[if lt IE9]>
    <script type="text/javascript" src="../../js/base/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

    <header>
        <a class="back" href="javascript:;">&lt;返回</a>
        <p class="title"><span>这是标题</span></p>
    </header>

    <nav>
        <a href="javascript:;">导航</a>
        <a class="cur" href="javascript:;">导航</a>
        <a href="javascript:;">导航</a>
        <a href="javascript:;">导航</a>
        <a href="javascript:;">导航</a>
    </nav>

    <img class="banner" src="../../images/base/2.jpg" alt="banner"/>

    <section class="first">
        <a href="javascript:;">
            <img src="../../images/task11/icon.jpg" alt="标签"/>
            <span>标签</span>
        </a>
        <a href="javascript:;">
            <img src="../../images/task11/icon.jpg" alt="标签"/>
            <span>标签</span>
        </a>
        <a href="javascript:;">
            <img src="../../images/task11/icon.jpg" alt="标签"/>
            <span>标签</span>
        </a>
        <a href="javascript:;">
            <img src="../../images/task11/icon.jpg" alt="标签"/>
            <span>标签</span>
        </a>
        <a href="javascript:;">
            <img src="../../images/task11/icon.jpg" alt="标签"/>
            <span>标签</span>
        </a>
    </section>

    <section class="second">
        <div class="list">
            <div class="item">
                <img class="" src="../../images/task11/1.jpg" alt=""/>
                <h2>分栏一</h2>
                <h3>分栏小标题</h3>
            </div>
            <div class="item">
                <img class="" src="../../images/task11/1.jpg" alt=""/>
                <h2>分栏二</h2>
                <h3>分栏小标题</h3>
            </div>
            <div class="item">
                <img class="" src="../../images/task11/1.jpg" alt=""/>
                <h2>分栏三</h2>
                <h3>分栏小标题</h3>
            </div>
        </div>
    </section>

    <section class="third">
        <p class="title">模块一</p>
        <div class="list">
            <div class="item">
                <div class="img-con"></div>
                <div class="text-con">
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                </div>
            </div>
            <div class="item">
                <div class="img-con"></div>
                <div class="text-con">
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="fourth">
        <p class="title">模块二</p>
        <div class="list">
            <div class="item">
                <div class="img-con"></div>
                <div class="text-con">
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                </div>
            </div>
            <div class="item">
                <div class="img-con"></div>
                <div class="text-con">
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                    <p><span>这是文案</span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="fifth">

    </section>

</body>
</html>