body {
  background-color: #fff;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.main .first,
.main .second,
.main .third,
.main .fourth {
  width: 150px;
  border: solid 1px #f00;
}
.main .first {
  height: 120px;
  order: 1;
}
.main .second {
  height: 100px;
  order: 2;
}
.main .third {
  height: 40px;
  order: 3;
}
.main .fourth {
  height: 200px;
  border: solid 1px #00f;
  order: 4;
}
@media (max-width: 640px) {
  .main {
    align-items: flex-start;
  }
  .main .first {
    order: 2;
  }
  .main .second {
    order: 3;
  }
  .main .third {
    order: 4;
  }
  .main .fourth {
    order: 1;
    margin: 0 0 20px 0;
  }
}
